<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 使用namespace标签   自动生成了 一个实现类来执行sql语句 
		实现类的方法名与查询的id值一致
-->
<mapper namespace="com.lgd.model.CompetitionMapper">


	<!-- 配置javaBena  与数据库的映射 -->
	<resultMap id="BaseResultMap" type="com.lgd.bean.Competition">
		<id column="fid" property="fid" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="fnumber" property="fnumber" jdbcType="VARCHAR" />
		<result column="venue" property="venue" jdbcType="VARCHAR" />
		<result column="organizers" property="organizers" jdbcType="VARCHAR" />
		<result column="holdDate" property="date" jdbcType="DATE" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
	</resultMap>
	
	
	<insert id="addCompetition"  parameterType="com.lgd.bean.Competition" >
		<trim  prefix="insert comptition(" suffix=")" suffixOverrides="," >
			<if test="name">  name, </if>
			<if test="fnumber">  fnumber, </if>
			<if test="venue">  venue, </if>
			<if test="organizers">  organizers, </if>
			<if test="date">  holdDate, </if>
			<if test="creator">  creator, </if>
			<if test="state">  state, </if>
			<if test="description">  description, </if>
		</trim>
		<trim  prefix="values(" suffix=")" suffixOverrides="," >
			<if test="name">  #{name}, </if>
			<if test="fnumber">  #{fnumber}, </if>
			<if test="venue">  #{venue}, </if>
			<if test="organizers">  #{organizers}, </if>
			<if test="date">  #{date}, </if>
			<if test="creator">  #{creator}, </if>
			<if test="state">  #{state}, </if>
			<if test="description">  #{description}, </if>
		</trim>
	</insert>
	
	
	<select id="findCompetitionByCreator" parameterType="java.util.Map"  resultType="java.util.Map">
		select name, fid, fnumber from comptition where creator=#{creator} order by holddate; 
	</select>
	
	
</mapper>